{{> header }}

  <h2>{{ title }}</h2>


           <div class="col-sm-6 col-md-6" style="height: 450px; width: 300px; border: solid; border-width: 0.1px; margin: 1px; border-color: #d3d3d3; overflow: hidden;">
           <span class="thumbnail" style="height: 10px; float: left;">
            <div style="height: 400px; overflow: hidden;">
               <img src= " {{ results.image }} " alt="..." height="200" width="200">
                 <h3> {{ results.name }} </h3>
                 <p> {{ results.description }} </p>
            </div>
            <p><a href="/orderconfirmation/{{ results.productId }}" class="btn btn-primary" role="button">Bestellen</a></p>
           </span>
         </div>